<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Tareas</title>
    <link rel="stylesheet" href="../Statics/listaTarea.css">
</head>
<body>
    <h1><strong>Lista de tareas</strong></h1>
    <div>
    <button class="boton" id="agregar">Agregar tarea</botton>
    <button class="boton" id="eliminar">Eliminar tarea</botton>
    
    </div>
    <br><br><br>
    <div id="contenedor">


    </div>
</body>
<script src="../Dynamics/Js/listaTarea.js"> </script>
</html>